node_modules
package-lock.json
.env
clothesPics

server/src/utils/Products/orders.csv
server/src/utils/Products/pedidos.csv
server/src/utils/Products/users.csv
server/src/utils/Products/productos.csv
server/src/utils/Products/seriegrafias.csv